@import url('https://fonts.googleapis.com/css?family=Cantarell|Roboto&display=swap');

body {
  overflow-x: hidden;
}

.container-fluid {
  margin: 0;
  border-radius: 0;
}

/*------------------landing page body background----------------*/
.body-background {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.body-background img {
  width: auto;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: 100vh;
}

/*------------------back to top button----------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

/*------------------navbar----------------*/
.navbar {
  position: absolute;
  background: transparent;
  width: 100%;
  padding: 0;
}

.camps-navbar {
  position: relative;
}

.nav-wrapper {
  box-shadow: none;
}

.nav-wrapper a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav-wrapper a:hover {
  text-decoration: none;
}

.sidenav-trigger i:hover {
  color: white;
}

.brand-logo {
  padding-left: 25px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 1.3rem !important;
}

@media (max-width: 991px) {
  .brand-logo {
    padding-left: 0px !important;
  }
}

.nav-links li {
  padding-left: 10px;
  padding-right: 10px;
}

.hvr-underline-from-left::before {
  background-color: white;
  height: 1px;
  transition: 0.1s !important;
}

.nav-links li a {
  font-size: 1.3em;
  font-weight: 300;
}

.nav-links li a:hover {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

/*------------------landing page body content----------------*/
.body-background .left-background {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #f0f1f2;
}

@media (max-width: 990px) {
  .left-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f0f1f2;
  }
}

/*------------------ holiday links content----------------*/
.camp-regions {
  margin-left: 13px;
  margin-right: 13px;
}

@media (min-width: 1400px) {
  .camp-regions {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.region-title {
  margin-top: 100px;
}

.region-title-text {
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
}

.link {
  margin-top: 30px;
  margin-bottom: 30px;
}

.region-links {
  max-height: 250px;
}

.link-card {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  border-radius: 5px;
}

@media (max-width:600px) {
  .link-card {
    height: 50px;
  }
}

.link-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}

.link-card a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.link-card a .link-img {
  height: 100%;
  width: 30%;
  overflow: hidden;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.link-card a .link-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.link-card a .link-text {
  height: 100%;
  width: 70%;
  float: right;
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding-top: 15px;
}

@media (max-width: 600px) {
  .link-card a .link-text {
    font-size: 18px;
    padding-top: 11px;
  }
}

/*------------------jumbotron content----------------*/
.jumbotron-section {
  padding-left: 28px;
  padding-right: 28px;
}

@media (min-width: 1400px) {
  .jumbotron-section {
    margin-left: 35px;
    margin-right: 35px;
  }
}

.jumbotron-fluid {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 24px 38px 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.discovernewengland.org/sites/default/files/styles/1360x370/public/banner-images/river-in-north-conway-fall-foliage.jpg?itok=eSQmdgm_");
  color: white;
}

@media (min-width:1400px) {
  .jumbotron-container {
    margin-left: 100px
  }
}

/*--------------index page featured content-----------*/
.featured-content {
  padding-left: 28px;
  padding-right: 28px;
}

@media (max-width: 760px) {
  .featured-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.glide__arrow--right,
.glide__arrow--left {
  background-color: rgba(46, 49, 49, 0.5) !important;
}

@media (max-width: 768px) {

  .glide__arrow--right,
  .glide__arrow--left {
    display: none !important;
  }
}

.index-featured-card {
  height: 350px;
}

@media (max-width: 1250px) {
  .index-featured-card {
    height: 300px;
  }
}

.index-card-title {
  margin-bottom: 20px !important;
}

/*---------------main nav 2---------------------------*/
.brand-logo-2 {
  color: #424242 !important;
  font-weight: 400 !important;
}

.nav-links-2-a {
  color: #424242 !important;
  width: 100% !important;
  height: 100% !important;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links-2-li {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav-links-2-li:hover {
  background-color: #424242;
}

.nav-links-2-a:hover {
  color: white !important;
}

/*--------------dashboard nav 3-----------*/
.dashboard {
  height: 64px;
  color: white;
  margin-top: 64px
}

@media (max-width: 600px) {
  .dashboard {
    height: 54px;
    color: white;
    margin-top: 54px
  }
}

.dashboard-nav {
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.8);
}

.dashboard-brand-logo {
  padding-left: 10px !important;
}

@media (min-width: 900px) {
  .dashboard-brand-logo {
    margin-left: 20px;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .dashboard ul {
    float: none !important;
  }
}

.dashboard ul li {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

@media (max-width: 1200px) {
  .dashboard ul li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.dashboard-search {
  height: 64px;
}

@media (min-width: 900px) {
  .dashboard-search {
    width: 300px !important;
  }
}

@media (min-width: 1200px) {
  .dashboard-search {
    width: 500px !important;
  }
}

.dashboard-search form .input-field input[type=search] {
  color: white;
}

@media (max-width: 600px) {
  .dashboard ul li.add-location-button {
    width: 50%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 5px;
  }
}

@media (max-width: 600px) {
  .dashboard ul li.dashboard-nav-li {
    width: 25%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
  }
}

@media (min-width: 700px) {
  .dashboard ul li.account-link {
    margin-right: 10px !important;
  }
}

@media (max-width: 600px) {
  .dashboard ul li.dashboard-nav-li i.left {
    float: none !important;
  }
}

.add-location-button a:hover {
  background-color: #ff5252 !important;
}

@media (max-width: 600px) {
  .dashboard ul li a.btn-large {
    margin: 0 !important;
    height: 50px !important;
    width: 100% !important;
    margin-bottom: 4px !important;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 600px) {
  .dashboard ul li a.btn-large i {
    margin-right: 5px !important
  }
}

.dashboard ul li a {
  text-decoration: none !important;
  color: white;
}

@media (max-width: 600px) {
  .add-location-button {
    height: 54px !important;
    margin-top: 0px;
  }
}

/*--------------camps.html-----------*/
.camp-display-header {
  padding-top: 50px;
  padding-bottom: 80px;
}

.camp-display-info {
  text-align: center;
}

.camp-display-info h4 strong {
  background-color: #fff8e1;
}

.card-image {
  height: 62% !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.card-image img {
  min-height: 100% !important;
  min-width: 100% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.card-content {
  height: 38% !important;
  padding: 20px 20px 10px 20px !important;
}


.card-reveal-item {
  margin-bottom: 10px;
}

.card-reveal-item div {
  display: inline;
  font-size: 18px;
}

.card-reveal-input {
  padding-left: 10px;
}

.featured-camp-checkbox {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.featured-camp-checkbox label {
  margin-bottom: 0 !important
}

/*--------------editcamp.html-----------*/
.edit-camp-row {
  margin-top: 0;
}

.edit-cards-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.edit-cards-ul li {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 750px) {
  .edit-cards-ul li {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

  .edit-card {
    width: 250px;
    height: 300px;
    position: relative;
  }


@media (max-width: 768px) {
  .edit-card {
    width: 230px;
    height: 280px;
  }
}

.edit-card a {
  color: white !important;
  text-decoration: none;
}

.edit-button {
  position: absolute;
  margin-left: 30px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .edit-button {
    margin-left: 15px;
  }
}

.delete-button {
  position: absolute;
  margin-left: 140px;
  margin-top: 20px;
  color: white;
}

.red-text a {
  color: #ef5350 !important;
}

/*------------------applyform.html----------------*/

#appplyform.row {
  margin-left: 100px;
  margin-right: 100px;
}

@media (min-width: 1000px) {
  #appplyform.row {
    margin-left: 100px;
    margin-right: 100px;
  }
}
/*------------------footer----------------*/
.white-text {
  margin-bottom: 25px !important;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.footer-social-div {
  text-align: center;
  border-right: 1px solid white
}

.footer-contact-div {
  text-align: center;
}

.footer-list .footer-social-button {
  display: inline-block;
  margin-right: 10px;
}

.footer-contact-div li {
  margin-bottom: 10px;
}

.footer-contact-button-1 {
  padding-left: 22px;
}

.footer-contact-button-3 {
  padding-left: 44px;
}

.footer-contact-div li span {
  margin-left: 10px;
}
