{% extends 'dashboard.html' %}
{% block content %}

<div class="row camp-display-header">
  <div class="col-hidden col-lg-2"></div>
  <div class="col-12 col-lg-8 camp-display-info">
    <h3 class="camp-display-title">Add a new camp listing here.</h3>
    <h4><strong> Check the featured box if you want this listing featured on the landing page of your site</strong></h4>
  </div>
  <div class="col-hidden col-lg-2"></div>
</div>

<div class="row" style="margin-top: 0;">
  <div class="hidden-xs col-sm-1 col-md-2"></div>
  <!---<form action="{{ url_for('insert_camp') }}" method="POST" class="col-12 col-sm-10 col-md-8">
    <div class="row">
      <div class="input-field col-12">
        <i class="material-icons prefix">terrain</i>
        <input id="camp_title" name="camp_title" type="text" class="validate">
        <label for="camp_title" style="padding-left: 14px">Camp title</label>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">image</i>
        <input id="camp_img" name="camp_img" type="text" class="validate">
        <label for="camp_img" style="padding-left: 14px">Camp img</label>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">flag</i>
        <select id="camp_state" name="camp_state" class="validate">
          <option value="" disabled selected>Select state</option>
          <option value="Alabama">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="3">Florida</option>
          <option value="Florida">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illanois">Illanois</option>
          <option value="Indiana">Indiana</option>
          <option value="Iowa">Iowa</option>
          <option value="Kansas">Kansas</option>
          <option value="Kentucky">Kentucky</option>
          <option value="Louisiana">Louisiana</option>
          <option value="3">Maine</option>
          <option value="Maine">Maryland</option>
          <option value="Massachusetts">Massachusetts</option>
          <option value="Michigan">Michigan</option>
          <option value="Minnesota">Minnesota</option>
          <option value="Mississippi">Mississippi</option>
          <option value="Missouri">Missouri</option>
          <option value="Montana">Montana</option>
          <option value="Nebraska">Nebraska</option>
          <option value="Nevada">Nevada</option>
          <option value="New Hampshire">New Hampshire</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New Mexico">New Mexico</option>
          <option value="New York">New York</option>
          <option value="North Carolina">North Carolina</option>
          <option value="Noth Dakota">Noth Dakota</option>
          <option value="Ohio">Ohio</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Oregon">Oregon</option>
          <option value="Pennsylvania">Pennsylvania</option>
          <option value="Rhode Island">Rhode Island</option>
          <option value="South Carolina">South Carolina</option>
          <option value="South Dakota">South Dakota</option>
          <option value="Tennessee">Tennessee</option>
          <option value="Texas">Texas</option>
          <option value="Utah">Utah</option>
          <option value="Vermont">Vermont</option>
          <option value="Virginia">Virginia</option>
          <option value="Washington">Washington</option>
          <option value="West Virginia">West Virginia</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Wyoming">Wyoming</option>
        </select>
        <label for="camp_state"></label>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">location_on</i>
        <input id="camp_address" name="camp_address" type="text" class="validate">
        <label for="camp_address" style="padding-left: 14px">Full address</label>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">event_available</i>
        <select id="camp_availability" name="camp_availability" class="validate">
          <option value="" disabled selected>Select availability</option>
          <option value="Currently available">Currently available</option>
          <option value="Available soon enquire futher">Available soon enquire futher</option>
          <option value="Currently unavailable">Currently unavailable</option>
        </select>
        <label for="camp_availability" style="padding-left: 14px"></label>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">group</i>
        <select id="camp_capacity" name="camp_capacity" class="validate">
          <option value="" disabled selected>Select group size</option>
          <option value="2 or less">2 or less</option>
          <option value="Group up to 5">Group up to 5</option>
          <option value="Group up to 10">Group up to 10</option>
        </select>
        <label for="camp_capacity" style="padding-left: 14px">Select capacity</label>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">subject</i>
        <textarea id="camp_description" name="camp_description" class="materialize-textarea"></textarea>
        <label for="camp_description" style="padding-left: 14px">Camp description</label>
      </div>
      <div class="container-fluid" style="margin-bottom: 35px;">
        <label>
          <input type="checkbox" id="camp_featured" name="camp_featured" />
          <span>Featured</span>
        </label>
      </div>
      <div class="container-fluid">
        <button class="btn waves-effect waves-light red" type="submit" name="action">Add campsite
          <i class="material-icons right">beenhere</i>
        </button>
      </div>
    </div>
  </form>--->

  <form action="{{ url_for('insert_camp') }}" method="POST" class="col-12 col-sm-10 col-md-8">
    <div class="input-field col-12">
      {{ form.csrf_token }}
      <i class="material-icons prefix">terrain</i>
      {{ form.camp_title.label }}
      {{ form.camp_title }}
      <ul>
        {% for error in form.camp_title.errors %}
        <li style="color:red;">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="input-field col-12">
      <i class="material-icons prefix">image</i>
      {{ form.camp_img.label }}
      {{ form.camp_img }}
      <ul>
        {% for error in form.camp_img.errors %}
        <li style="color:red;">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="input-field col-12">
      <i class="material-icons prefix">flag</i>
      {{ form.camp_state }}
      {{ form.camp_state.label }}
      <ul>
        {% for error in form.camp_state.errors %}
        <li style="color:red;">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="input-field col-12">
      <i class="material-icons prefix">location_on</i>
      {{ form.camp_address.label }}
      {{ form.camp_address }}
      <ul>
        {% for error in form.camp_address.errors %}
        <li style="color:red;">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="input-field col-12">
      <i class="material-icons prefix">location_on</i>
      {{ form.camp_availability }}
      {{ form.camp_availability.label }}
      <ul>
        {% for error in form.camp_availability.errors %}
        <li style="color:red;">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="input-field col-12">
      <i class="material-icons prefix">subject</i>
      {{ form.camp_description.label }}
      {{ form.camp_description }}
      <ul>
        {% for error in form.camp_description.errors %}
        <li style="color:red;">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <p>
      <label for="">
      {{ form.camp_featured }}
      <span>Featured</span>
      </label>
    </p>
    <button class="btn waves-effect waves-light red" type="submit" name="action">Edit camp
      <i class="material-icons right">send</i>
    </button>
  </form>

  <div class="hidden-xs col-sm-1 col-md-2"></div>
</div>

{% endblock %}
