{% extends 'dashboard.html' %}
{% block content %}

<div class="row camp-display-header">
  <div class="col-hidden col-lg-2"></div>
  <div class="col-12 col-lg-8 camp-display-info">
    <h3 class="camp-display-title">Your campsites</h3>
    <h4><strong>All campsites are displayed here and can be created, read, updated or deleted</strong></h4>
  </div>
  <div class="col-hidden col-lg-2"></div>
</div>

<div class="container-fluid">
  <ul class="edit-cards-ul">
    {% for camp in camps %}
    <li>
      <div class="card edit-card">
        <div class="card-image waves-effect waves-block waves-light">
          {% if camp.camp_edit_lock == "campeditlocked22" %}
          <a href="{{url_for('edit_camp', camp_id=camp._id)}}" class="waves-effect waves-light btn-small edit-button blue" disabled>edit</a>
          <a href="{{url_for('delete_camp', camp_id=camp._id)}}" class="waves-effect waves-light btn-small delete-button red" disabled>delete</a>
          {% else %}
          <a href="{{url_for('edit_camp', camp_id=camp._id)}}" class="waves-effect waves-light btn-small edit-button blue">edit</a>
          <a href="{{url_for('delete_camp', camp_id=camp._id)}}" class="waves-effect waves-light btn-small delete-button red">delete</a>
          {% endif %}
          {% if camp.camp_img == "" %}
          <img class="activator" src="https://inteng-storage.s3.amazonaws.com/img/iea/MRw4y5ABO1/sizes/camping-tech-trends_resize_md.jpg">
          {% else %}
          <img class="activator" src="{{camp.camp_img}}">
          {% endif %}
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 flow-text">{{camp.camp_title}}<i class="material-icons right">more_vert</i></span>
          <p class="red-text" style="display: inline-block"><a href="{{url_for('apply_form')}}">Take me there</a></p>
          <div class="featured-camp-checkbox">
            <label>
              {% if camp.camp_featured %}
              <span class="new badge" data-badge-caption="">Featured</span>
              {% else %}
              <span></span>
              {% endif %}
            </label>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title card-reveal-header">{{camp.camp_title}}<i class="material-icons right">close</i></span>
          <div class="">
            <div class="card-location card-reveal-item">
              <div class="card-reveal-title"><p>State location</p></div>
              <div class="card-reveal-input">{{camp.camp_state}}</div>
            </div>
            <div class="card-state card-reveal-item">
              <div class="card-reveal-title"><p>camp address</p></div>
              <div class="card-reveal-input">{{camp.camp_address}}</div>
            </div>
            <div class="card-arrive-by card-reveal-item">
              <div class="card-reveal-title"><p>Availability</p></div>
              <div class="card-reveal-input">{{camp.camp_availability}}</div>
            </div>
            <div class="card-facilities card-reveal-item">
              <div class="card-reveal-title"><p>Camp capacity </p></div>
              <div class="card-reveal-input">{{camp.camp_capacity}}</div>
            </div>
            <div class="card-facilities card-reveal-item">
              <div class="card-reveal-title"><p>Description</p></div>
              <div class="card-reveal-input">{{camp.camp_description}}</div>
            </div>
            <div class="card-facilities card-reveal-item">
              <div class="card-reveal-title"><p>Cost per night</p></div>
              <div class="card-reveal-input">${{camp.camp_price}}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


{% endblock %}
