{% extends 'register.html' %}
{% block content %}

<h3>edit campsite</h3>

<div class="row">
  <form action="{{ url_for('insert_task') }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col-12">
        <i class="material-icons prefix">terrain</i>
        <input id="camp_title" name="camp_title" type="text" class="validate">
        <label for="camp_title">Camp title</label>
      </div>
      <div class="file-field input-field col-12">
        <div class="btn">
          <span>File</span>
          <input id="camp_img" name="camp_img" type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input id="camp_img" name="camp_img" class="file-path validate" type="text" placeholder="Upload cover image">
        </div>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">flag</i>
        <select id="camp_state" name="camp_state" class="validate">
          <option value="" disabled selected>Select state</option>
          <option value="Alabama">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="3">Florida</option>
          <option value="Florida">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illanois">Illanois</option>
          <option value="Indiana">Indiana</option>
          <option value="Iowa">Iowa</option>
          <option value="Kansas">Kansas</option>
          <option value="Kentucky">Kentucky</option>
          <option value="Louisiana">Louisiana</option>
          <option value="3">Maine</option>
          <option value="Maine">Maryland</option>
          <option value="Massachusetts">Massachusetts</option>
          <option value="Michigan">Michigan</option>
          <option value="Minnesota">Minnesota</option>
          <option value="Mississippi">Mississippi</option>
          <option value="Missouri">Missouri</option>
          <option value="Montana">Montana</option>
          <option value="Nebraska">Nebraska</option>
          <option value="Nevada">Nevada</option>
          <option value="New Hampshire">New Hampshire</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New Mexico">New Mexico</option>
          <option value="New York">New York</option>
          <option value="North Carolina">North Carolina</option>
          <option value="Noth Dakota">Noth Dakota</option>
          <option value="Ohio">Ohio</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Oregon">Oregon</option>
          <option value="Pennsylvania">Pennsylvania</option>
          <option value="Rhode Island">Rhode Island</option>
          <option value="South Carolina">South Carolina</option>
          <option value="South Dakota">South Dakota</option>
          <option value="Tennessee">Tennessee</option>
          <option value="Texas">Texas</option>
          <option value="Utah">Utah</option>
          <option value="Vermont">Vermont</option>
          <option value="Virginia">Virginia</option>
          <option value="Washington">Washington</option>
          <option value="West Virginia">West Virginia</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Wyoming">Wyoming</option>
        </select>
        <label for="camp_state"></label>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">location_on</i>
        <input id="camp_address" name="camp_address" type="text" class="validate">
        <label for="camp_address">Full address</label>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">event_available</i>
        <select id="camp_availability" name="camp_availability" class="validate">
          <option value="" disabled selected>Select availability</option>
          <option value="Currently available">Currently available</option>
          <option value="Available soon enquire futher">Available soon enquire futher</option>
          <option value="Currently unavailable">Currently unavailable</option>
        </select>
        <label for="camp_availability"></label>
      </div>
      <div class="input-field col-12">
        <i class="material-icons prefix">subject</i>
        <textarea id="camp_description" name="camp_description" class="materialize-textarea"></textarea>
        <label for="camp_description">Camp description</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>

    </div>
  </form>
</div>


{% endblock %}
