{% extends 'register.html' %}
{% block content %}

  <a href="{{ url_for('add_task') }}" class="waves-effect waves-light btn">Add campsite</a>

<ul class="edit-cards-ul">
  {% for task in tasks %}
  <li>
    <div class="card edit-card">
      <div class="card-image waves-effect waves-block waves-light">
        <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn-small edit-button blue">edit</a>
        <a href="{{url_for('delete_task', task_id=task._id)}}" class="waves-effect waves-light btn-small delete-button red">delete</a>
        <img class="activator" src="">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{task.camp_title}}<i class="material-icons right">more_vert</i></span>
        <p class="red-text"><a href="{{url_for('apply_form')}}">Take me there</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{task.camp_title}}<i class="material-icons right">close</i></span>
        <div class="">
          <div class="card-location"><i class="material-icons prefix">flag</i>{{task.camp_state}}</div>
          <div class="card-state"><i class="material-icons prefix">location_on</i>{{task.camp_address}}</div>
          <div class="card-arrive-by"><i class="material-icons prefix">event_available</i>{{task.camp_availability}}</div>
          <div class="card-facilities"><i class="material-icons prefix">subject</i>{{task.camp_description}}</div>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>


{% endblock %}
